./.git
./.idea
./node_modules
./vendor
./storage/framework/cache/**
./storage/framework/sessions/**
./storage/framework/views/**
./storage/logs/**
*.dockerfile
./app.yaml
./app.yaml.flex
./Homestead.yaml
./test.py
./.vagrant/
./certs/
./.env.example